<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafePath"
        tools:targetApi="31">

        <activity
            android:name="com.google.android.libraries.places.widget.AutocompleteActivity"
            android:theme="@style/Theme.SafePath.PlacesAutocomplete"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:theme"/>

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.SafePath"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="com.example.safepath"
                    android:host="callback" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SafePath"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".RegistroActivity"
            android:exported="true"
            android:theme="@style/Theme.SafePath"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".AddPointActivity"
            android:exported="true"
            android:theme="@style/Theme.SafePath"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
</manifest>
